<div class="container">
  <br>
  <input class="uk-input" type="text" placeholder="cerca il gioco in base al nome o prezzo" #filterInput
    (change)="filterReq(filterInput.value)">
  <p *ngIf="filterInput.value!=''">stai cercando: {{filterInput.value}}</p>
  <div class="uk-margin">
  <select (change)="filterBygenere($event.target.value)" class="uk-select">
    <option value="all">tutti</option>
    <ng-container *ngFor="let genere of genres">
      <option [value]="genere.id">{{ genere.name }}</option>
    </ng-container>
  </select>
  </div>
  <div *ngIf="!games || games.length === 0">
    <div class="uk-card uk-card-primary  uk-card-body uk-inline-clip uk-transition-toggle ">

      <h3 class="uk-card-title">Gioco non trovato</h3>
      <p class=" uk-margin-remove-top"></p>
      <p></p>
      <a href="#" class="uk-button uk-button-text"></a>
    </div>
  </div>
  <app-game-item *ngFor="let game of games" [gameItem]="game" [showForm]="true" (outputToEditGame)="getGameForForm($event)" ></app-game-item>

<!--inizio modal (form per cammbiare gioco[ che ottengo da gameItem,child che fa da eventEmitter, espone output=outputToEditGame]) -->
  <div id="modal-sections" uk-modal >
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Modifica gioco</h2>
      </div>
      <div class="uk-modal-body">
        <form #editGameForm="ngForm" (ngSubmit)="editGameApi(editGameForm)" >
          <fieldset class="uk-fieldset">

            <div class="uk-margin">
              <input class="uk-input" name="titleGame" type="text" placeholder="{{ giocoForm.name }}" *ngIf="giocoForm != null || giocoForm!=undefined"   [ngModel]="giocoForm.name" (keydown.enter)="$event.preventDefault()"   >
            </div>

            <div class="uk-margin">
              <textarea class="uk-textarea" name="descGame" rows="5" placeholder="{{ giocoForm.desc }}" *ngIf="giocoForm != null || giocoForm!=undefined"  [ngModel]="giocoForm.desc" (keydown.enter)="$event.preventDefault()" ></textarea>
            </div>

          </fieldset>
          <div class="uk-modal-footer uk-text-right">
            <button id="closeModal" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit">Save</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
