<header *ngIf="currentRoute!= '/login'">
  <div class="container">
    <a href="#" class="logo">Majkl.app</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/list" routerLinkActive="active">Giochi</a></li>
        <li><a href="#" routerLink="/edit" routerLinkActive="active">Modifica</a></li>
        <a class="">{{ username }}</a>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li><a class="logout-color uk-button uk-button-text" (click)="userLogout()">Logout</a></li>
          </ul>
        </div>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
